
.card-pet {
  width: 340px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
