.form-control:focus {
    box-shadow: none;
    border-color: #239B4B,
}

.profile-button {
    background: #239B4B;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #239B4B,
}

.profile-button:focus {
    background: #239B4B;
    box-shadow: none
}

.profile-button:active {
    background: #239B4B;
    box-shadow: none
}

.back:hover {
    color: #239B4B;
    cursor: pointer
}